#navbar {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  border: solid 3px red;
}

#logo {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  align-self: center;
}

.logo1 {
  margin: auto 0;
}

#navigation {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
}

.navlinks {
  padding: 0 15px;
  border: solid 3px turquoise;
}

#mainContainer {
  border:solid 3px blue;
  width: 75vw;  
  margin: 0 auto;
}

#signup {
  text-align: center;
}

.loggedIn {
  color: green;
  display: flex;
  flex-direction: row;
  margin: auto 10px auto 0;
  justify-content: right;
}

.loggedOut {
  color: red;
  display: flex;
  flex-direction: row;
  margin: auto 10px auto 0;
  justify-content: right;
}

.normalButton {
  border: 3px solid #000;
  margin: 15px;
  cursor: pointer;
}



